<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-lg-4 col-xl-3 chat" id="contact-display">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="logged-in-user">
                        <form method="POST" class="logout">
                            {% csrf_token %}
                            <button class="btn-info fa fa-sign-out" style="float: right;"></button>
                        </form>
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src=""
                                     class="rounded-circle user_img"
                                     onerror="this.src='{% static 'images/default-user-icon-4.jpg' %}'">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span class="user_name" style="color: yellow;"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body contacts_body">
                    <ui class="contacts">
                        <li class="d-none user-list" id="user_details">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="{% static 'images/default-user-icon-4.jpg' %}"
                                         class="rounded-circle user_img">
                                </div>
                                <div class="user_info">
                                    <span class="user_name" style="color: black"></span><br>
                                    <span style="color: navajowhite; font-size: 12px;" class="last-msg-time"></span>
                                </div>
                            </div>
                        </li>
                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-6 chat" id="message-display">
            <div class="card no-conversation-render">
                <form method="POST" style="padding-top: 12px; padding-right: 20px;">
                    {% csrf_token %}
                    <button class="btn-info fa fa-sign-out" style="float: right;"></button>
                </form>
                <div class="card-body h-100 " style="text-align: center;">
                    <p class="no-conversation">
                        Hello {{ user.username }}
                    </p>
                    <p class="no-conversation" style="padding-top: 0px; font-size: 30px">
                        Welcome back!!
                    </p>
                </div>

            </div>


            <div class="card d-none msg-render">
                <div class="card-header msg_head">
                    <div class="left-div d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="{% static 'images/default-user-icon-4.jpg' %}"
                                 class="rounded-circle user_img chat-box-img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span class="display-chat-name">Chat Box</span>
                        </div>
                    </div>
                    <div class="right-div">
                        <form method="POST">
                            {% csrf_token %}
                            <button class="btn-info fa fa-sign-out" style="float: right;"></button>
                        </form>
                        <br>
                        <i class="fas fa-arrow-left"></i>
                    </div>

                </div>
                <div class="card-body msg_card_body">
                    <div class="d-none" id="receiver">
                        <div class="d-flex justify-content-start mb-4">
                            <div class="msg_cotainer">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-none" id="sender">
                        <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group csrf-send-msg">
                        {% csrf_token %}
                        <input type="hidden" value="" id="sender_user_id">
                        <textarea name="" class="form-control type_msg" id="type_msg"
                                  placeholder="Type your message..."
                                  onkeypress="confirmEnter()"></textarea>
                        <div class="input-group-append">
                            <button class="send_btn" id="submit_chat">
                                <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let user = "{{ user.id }}";
    let msg_url = "{% url 'chit_chat:list-msg' %}";
    let user_url = "{% url 'chit_chat:list-user' %}";
</script>
<script type="text/javascript" src="{% static 'js/sample.js' %}"></script>
</body>
</html>
