{% extends "base.html" %}

{% block content %}
    <div class="row h-100">
        <div class="col-lg-4 col-xl-3 my-auto mx-auto responsive_width">
            <div id="login">
                <h2 class="text-center">LOGIN</h2>
                <hr style="border-top: solid darkblue;">
                <div style="padding-top: 10px">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group label-style">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name='username' required
                                   autocomplete="new-password">
                        </div>
                        <div class="form-group label-style" style="padding-top: 10px;">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" name='password' required
                                   autocomplete="new-password">
                        </div>
                        <p style="color: white; font-size: 15px;">{{ error_msg }}</p>
                        <div>
                            <div style="float: left; padding-top: 20px; width: 100px;">
                                <input type="submit" class="btn btn-info" value="LOGIN">
                            </div>
                            <div style="float: right;">
                                <br>
                                <a href="signup" ><p style="color: #FFFFFF">Sign up here!</p></a>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}