.links
{
	color: green;
	font-weight: bold;
}

.forms
{
	margin-top: 5px;
	max-width : 80%; 
	height: auto;
	border: 1.5px solid green;
	border-radius: 8px;
}

@media only screen and (min-width: 768px)
{
	.responsive_width
	{
		width: 400px;
	}
}

.labels
{
	text-shadow: 1px 1px grey;
	font-weight: bold;
	letter-spacing: 2px;
}

li:hover, a:hover
{
	background-color: lightgreen;
}


a:active
{
	color: blue;
}