</!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="/stylesheet.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<title>Blog In</title>

	<style type="text/css">
		#date_published
		{
			font-size: 10px;
			color: darkgrey;
			display: inline;
		}

		#greeting
		{
			color: green;
			padding-top: 20px;
		}
	</style>
</head>
<body style="background-image: url('/Grey-Gradient-Background.jpg');">
	<div class="container row">
		<div class="col-md-6">
			<h2 id="greeting">Hello {{ user_name[0] }}!!</h2>
		

			<form action="http://localhost:8004/login" method="GET">
				<button type="submit"  class="btn-primary">Logout</button>
				<button formaction="http://localhost:8004/home" class="btn-success">Home</button>
				<input type="hidden" name="user_email" value = "{{ user_email }}">			
			</form>
			<div id = "blog_list">
				<h5 style="color: darkblue; font-weight: bold;"><u>Your Blogs:</u></h4>
				<dl>
				{% for v in values %}
					<dt><a href="http://localhost:8004/home/blog/{{ v[3] }}" class="links">{{ v[0] }}</a> <p id="date_published">[Date published: {{ v[2] }}]</p></dt>
					<dd style="margin-left: 20px !important;">- {{ v[1]|truncate(20) }}</dd>				
				{% endfor %}
				</dl>
			</div>
		</div>		
		<div class="col-md-6" >
			<form action = "http://localhost:8004/home/" method = "POST">
				<div style=" padding-top: 20px;">
					<textarea rows="1" cols="51" style=" background-color: #eaeae1; font-size: 25px; border : none;" placeholder="Title" name="title" required >{{ blog_content[0] }}</textarea>
				</div>

				<div>
					<textarea rows="22" cols="79" style=" background-color: #eaeae1; border : none;"placeholder="Content" name="content" required >{{ blog_content[1] }}</textarea>
				</div>
				<div>
					<input type="hidden" name="user_name" value = '{{ user_name[0] }}'>
					<input type="hidden" name="email" value = '{{ user_email[0] }}'>
				</div>
				<input type="submit" value="DONE" class="btn-success">
			</form>
		</div>

	</div>
</body>
</html>