<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<title>Blog In</title>
</head>
<body style="background-image: url('/Grey-Gradient-Background.jpg'); background-repeat: repeat-x;">

	<div class = "container">
		<ul class="nav justify-content-end nav-tabs">
		    <li class="nav-item">
		    	<a class="nav-link links" href="/">HOME</a>
		    </li>
		    <li class="nav-item">
		    	<a class="nav-link links" href="#">LOGIN</a>
		    </li>
		    <li class="nav-item">
		      	<a class="nav-link links" href="/signup">SIGN UP</a>
		    </li>
		</ul>
	</div>

	<br>
	<div class="forms mx-auto responsive_width">
		<div style="padding: 10px;">
			<h2 class = "text-center" >LOGIN</h2>
			<hr style="border-top: solid green;">
			<form action="http://localhost:8004/home" method="POST">
				<div class="form-group">
				    <label for="email">Email address:</label>
				    <input type="email" class="form-control" id="email" name = 'email' required>
				</div>
				<div class="form-group">
				    <label for="pwd">Password:</label>
				    <input type="password" class="form-control" id="pwd" name = 'password'>
	  			</div>
	  			<p {{ hidden }} style="color: red; font-size: 15px;">Invalid credentials.</p>
	  			<input type="submit" class="btn btn-info" value="LOGIN">
			</form>
		</div>
	</div>
</body>
</html>